% Здесь будут лежать зависимости
{deps_dir, ["deps"]}.

%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs, ["rel", "apps/chatter"]}.

%% Опции компилятора
{erl_opts, [debug_info, fail_on_warning]}.

%% Список зависимостей
%% В директорию misultin будет клонирована ветка master соответствующего git-репозитория.
{deps,
 [
  {misultin, ".*", {git, "https://github.com/yrashk/misultin.git", "master"}}
 ]}.
